.bd-callout {
    padding: 0.8rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #e9ecef;
    border-left-width: .25rem;
    border-radius: .25rem;
}

select{
    cursor: pointer;
    transition-duration: 0.2s;
    
}

select:hover{
    transition-duration: 0.2s;
    border-color: #0d6efd;
}


.bd-callout-warning{
    transition-duration: 0.2s;
    border-left-color: #ffc107;
}

.bd-callout-warning:hover{
    transition-duration: 0.2s;
    border-color: #ffc107;
}